body{
background: #2c2c2c;
}
aside{
float: left;
background: #181818;
width: 20%;
padding: 2.5%;
height: 100vh ;
color: #fff;
border-right: 5px solid #4d4d4d;
}
 aside h3{
 margin-top: 10px;
 margin-left:15px;

 }
 aside ul li{
 display: block;
 margin-top: 20px;
 transition: all .5s ease;
 }

 aside ul li:hover, aside ul a:hover{
color: #fff;
text-decoration: none;
transform: scale(1.05);

 }