{% extends 'main/layout.html' %}

{% load static %}
{% block content %}
<h3>Главная страница</h3>
<p> примеры изображений с отличительными признаками </p>
<style type="text/css">
table {
    max-width: 80%;
    height: auto;
    width: auto\9; /* ie8 */
    float: right;
}

</style>
{% if error_message %}
<p style="background-color:tomato;">{{ error_message }}</p>
{% endif %}

<h4> Снимки </h4>

<form action="{% url 'all_images' %}" method="GET">
    {% csrf_token %}
    <p>Фильтры:</p>
    <p>
        <label for="surname">Фамилия пользователя: </label>
        <input id="surname" type="text" name="surname">
    </p>
    <p>
        <label for="structure_asymmetry">Асиметрия строения\пигментации : </label>
        <input type="radio" name="structure_asymmetry" value=True>&#9745;
        <input type="radio" name="structure_asymmetry" value=False>&#9746;
    </p>
    <input type="submit" value="filter">
</form>
{% if all_results_list %}
<form action="{% url 'download_images' %}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="urls" value="{{ urls }}" />
    <button type="submit">cкачать всё</button>
</form>
<table>
    {% for image in all_results_list %}
    <tr class='success'>

        <p>Пользователь {{ image.user.id }} ({{ image.user.surname }} {{ image.user.name }} {{ image.user.patronymic }}
            )</p>
        <p>Снимок {{ image.id }}</p>
        <img src="{{ image.image.url}}" width="400" onclick="this.style.width='100%'"
             onmouseout="this.style.width='400px'">

    </tr>
    <tr>
    </tr>
    <p>действия:</p>
    <tr class='success'>
        <form action="{% url 'all_results' %}" method="GET">
            <input type="hidden" name="image_id" value="{{ image.id }}" />
            <input type="submit" value="посмотреть описания">
        </form>
    </tr>
    <p></p>
    <tr class='success'>
        <form action="{% url 'download' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="image_id" value="{{ image.image.url }}" />
            <button type="submit">cкачать</button>
        </form>
    </tr>
    <p></p>
    <tr class='success'>
        <form action="{% url 'delete_image' pk=image.id %}" method="DELETE">
            {% csrf_token %}
            <input type="submit" value="удалить">
        </form>
    </tr>
    <p></p>
    {% endfor %}
</table>
{% else %}
<p>Снимки не найдены.</p>
{% endif %}

{% endblock %}