{% extends 'main/layout.html' %}

{% load static %}
{% block content %}
<h1>Главная страница</h1>
<p> Примеры изображений с отличительными признаками </p>
<p> Асиметрия пигментация и строения </p>
<div>
        <img src="{% static 'main/image/first.jpg' %}"/>
</div>

<p> Наличие бело-голубых структур </p>
<div>
        <img src="{% static 'main/image/second.jpg' %}"/>
</div>

<p> Атипичная пигментная сеть </p>
<div>
        <img src="{% static 'main/image/third.jpg' %}"/>
</div>

<p> Радиальная лучистость </p>
<div>
        <img src="{% static 'main/image/fourth.jpg' %}"/>
</div>

<p> Наличие точек </p>
<div>
        <img src="{% static 'main/image/fifth.jpg' %}"/>
</div>
{% endblock %}