{% extends 'main/layout.html' %}

{% block content %}
<h4> Добавление пациента </h4>
<form action="new_patient" method="POST">
    {% csrf_token %}

    <p><label for="surname">Enter surname: </label>
    <input id="surname" type="text" name="surname"></p>

    <p><label for="name">Enter name: </label>
    <input id="name" type="text" name="name"></p>

    <p><label for="patronymic">Enter patronymic: </label>
    <input id="patronymic" type="text" name="patronymic"></p>

    <p><input type="submit" value="OK"></p>
</form>

{% if error_message %}
    <p style="background-color:tomato;">{{ error_message }}</p>
{% endif %}
{% endblock %}