{% extends 'main/layout.html' %}

{% block content %}
{% if is_new %}
<h4> Добавлен пациент </h4>
{% else %}
<h4> Обновленные данные пациента </h4>
{% endif %}
{% if patient %}
    <table>
        <tr>
            <td>id </td>
            <td>{{ patient.id }}</td>
        </tr>
        <tr>
            <td>Фамилия: </td>
            <td>{{ patient.surname }}</td>
        </tr>
        <tr>
            <td>Имя: </td>
            <td>{{ patient.name }}</td>
        </tr>
        <tr>
            <td>Отчество: </td>
            <td>{{ patient.patronymic }}</td>
        </tr>
        <tr>
            <td>Должность: </td>
            <td>{{ patient.position_at_work }}</td>
        </tr>
        <tr>
            <td>Время создания: </td>
            <td>{{ patient.created_at }}</td>
        </tr>
    </table>
{% else %}
    <p>Пациент не найден.</p>
{% endif %}
{% endblock %}
