{% extends 'main/layout.html' %}

{% block content %}
<h4> Информация о пациентах </h4>
<form action="patients" method="GET">
    {% csrf_token %}
    <p>
        <label for="surname">Фильтр по фамилии: </label>
        <input id="surname" type="text" name="surname"><input type="submit" value="filter">
    </p>
</form>
{% if patients %}
    <table>
        <tr>
            <td> ID    </td>
            <td> Фамилия  </td>
            <td> Имя  </td>
            <td> Отчество  </td>
            <td> Должность  </td>
            <td> Дата регистрации  </td>
        </tr>
        {% for patient in patients %}
        <tr>
            <td>{{ patient.id }}</td>
            <td>{{ patient.surname }}</td>
            <td>{{ patient.name }}</td>
            <td>{{ patient.patronymic }}</td>
            <td>{{ patient.position_at_work }} </td>
            <td>{{ patient.created_at }}</td>
            <td>
                <form action="{% url 'delete_patient' pk=patient.id %}" method="DELETE">
                    {% csrf_token %}
                    <input type="submit" value="delete">
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
{% else %}
    <p>Пациенты не найдены((</p>
{% endif %}
{% endblock %}