{% extends 'main/layout.html' %}

{% block content %}
<h4> Информация о пользователях </h4>
<form action="users" method="GET">
    {% csrf_token %}
    <p>
        <label for="surname">Фильтр по фамилии: </label>
        <input id="surname" type="text" name="surname"><input type="submit" value="filter">
    </p>
</form>
{% if users %}
    <table>
        <tr>
            <td> ID    </td>
            <td> Фамилия  </td>
            <td> Имя  </td>
            <td> Отчество  </td>
            <td> Должность  </td>
            <td> Дата регистрации  </td>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.surname }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.patronymic }}</td>
            <td>{{ user.position_at_work }} </td>
            <td>{{ user.created_at }}</td>
            <td>
                <form action="{% url 'delete_user' pk=user.id %}" method="DELETE">
                    {% csrf_token %}
                    <input type="submit" value="delete">
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
{% else %}
    <p>Пользовательы не найдены((</p>
{% endif %}
{% endblock %}